<h1><center>Financial Accounts</h1></center>
<section>
  <% @financial_accounts.each do |fa| %>
    <h4><center><%= link_to fa.name, edit_financial_account_path(fa.id) %></center></h4>
  <% end %>
</section>